html {
  font-family: "Helvetica"; "Serif';
  
}

#container{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 300px;
  margin-right: 300px;
}

#contact-content {
  font-family: 'Helvetica'; 'Serif";
}

#content-work{
  font-size: 32px
  line-height: 2px;
}    

h1 {
  font-size: 32px
}

h2 {
  font-size: 20px
}

h3 {
  font-size: 18px
}

li {
  font-size: 16px
}
