#contact-content {
  font-family: 'Helvetica'; 'Serif"
  margin-top: 20px
  margin-left: 20px
  margin-right: 20px
}
h1 {
  font-size: 36px
}
h2 {
  font-size: 24px
}
h3 {
  font-size: 18px
}
li {
  font-size: 12px
}
