html {
  font-family: "Helvetica"; "Serif';
  
}

#container {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 300px;
  margin-right: 300px;
}

#contact-content {
  font-family: 'Helvetica'; 'Serif";
}

#education {
  font-size: 24px;
  margin-bottom: 0px;
  padding: 2px;
}

#content-work {
  font-size: 24px;
  margin-bottom: 0px;
  padding: 2px;
}    

#md {
  text-alight: right
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

li {
  font-size: 16px;
}
